body{
    background-image: url('assets/home.png');
    display: flex;
    justify-content: space-around;
}

.leval{
    background-color: rgba(240, 248, 255, 0.562);
    padding: 15px;
    width: 200px;
}
/*ancient*/
.ancient{
    width: 650px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    
}
.ancient>img{
    height: 390px;
}
/*cards */
.st, .coloda{
    background-color: rgba(240, 248, 255, 0.562);
    padding: 7px;
    margin: 15px; 
}

.cards{
    width: 500px;
}
.coloda{
    display: flex;
}
.coloda>img{
    width: 210px;
   margin: 7px;
}
.hide{
    opacity: 0;
}
.st1, .st2, .st3{
    display: flex;
}
.p{
    color: aliceblue;
    padding: 7px;
    font-size: 20px;
    margin: 10px;
    border-radius: 25px;
}
.green{
    background: rgb(9, 104, 14);
}
.brown{
    background: rgb(87, 44, 9);
}
.blue{
    background: rgb(13, 88, 122);
}

.ch{
    background-color: rgba(0, 0, 0, 0.733);
    color: aliceblue;
    padding: 7px;
}
p{
    font-weight: 700;
}